.steps {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;

  margin-bottom: 2rem;
}
.step {
  width: 120px;
  padding: 0.5rem;
}
.step svg {
  font-size: 1.6rem;
  margin-bottom: 0.2rem;
}
.active {
  font-weight: bold;
}
.active > svg {
  fill: #7076f3;
}
